
body {
    background-image: url("unnamed.jpg");
    background-size: cover;      
    background-position: center; 
    background-attachment: fixed; 
}
.profile-card{
    font-size: 10px;
    border: 1px solid black;
    box-shadow: 3x 3x 3x black;
    border-radius: 12px;
    padding: 16px;
    background-color: rgb(255, 255, 255, 0.9);
}
.container{
    max-width: 768px;
    margin: 20px auto;
    padding: 16px;
    margin: auto;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     
     
}
#profile-header{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;              
    align-items: center;        
    gap: 20px;                 
    border: 1px solid black;
    box-shadow: 3px 3px 3px  black;
    border-radius: 12px;
     margin-top: 20px;
}
.avatar{
    width: 250px;
    height: 100%;
    padding: 30px;
}
#name {
  color: black;
  font-size: 50px;
}
.subtitle{
    font-size: 30px;
}
#about{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    padding: 20px;       
    border-radius: 12px; 
    margin-top: 20px;  
    box-shadow: 3px 3px 3px black; 

}
#skills{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    padding: 20px;       
    border-radius: 12px; 
    margin-top: 20px;  
    box-shadow: 3px 3px 3px black; 
}
#contact{
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    padding: 20px;       
    border-radius: 12px; 
    margin-top: 20px;  
    box-shadow: 3px 3px 3px black; 
    
}

#contact{
     font-size: 18px;
    
}
.choice{
    font-size: 25px;
    color: black;
    text-decoration: none;
     margin-right: 20px;     
     padding: 15px 25px ;
}
.link{
    padding-right: 10px;
}
.skill{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 10px;
}

