body {
    background-image: url("unnamed.jpg");
    background-size: cover;      
    background-position: center; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; 
    max-width: 1000px;
    margin: 20px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

#profile-header {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;              
    flex-direction: column; 
    align-items: center;        
    text-align: center;
    gap: 15px;                  
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px;
}

.avatar {
    width: 150px;
    height: auto;
    border-radius: 50%; 
}

#name {
    color: black;
    font-size: 32px; 
    margin: 0;
}

.subtitle {
    font-size: 20px;
}

#about, #skills, #contact {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    padding: 20px;       
    border-radius: 12px; 
    margin-top: 20px;  
    box-shadow: 3px 3px 3px black; 
}

.choice {
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    #profile-header {
        flex-direction: row;
        text-align: left;
        padding: 40px;
    }

    .avatar {
        width: 250px;
    }

    #name {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }

    .choice {
        font-size: 25px;
        margin-right: 20px;
    }
}
